[apply]
	whitespace = fix
[core]
	excludesfile = /Users/oli/.gitignore
	attributesfile = ~/.gitattributes
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = auto
[user]
	email = oli@tableflip.io
	name = Oli Evans
	signingkey = A2AC979DA8460535
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[commit]
	gpgsign = true
	template = ~/.git-commit-template.txt
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[diff "ansible-vault"]
	textconv = ansible-vault view
	# Do not cache the vault contents
	cachetextconv = false
[merge "ansible-vault"]
	name = ansible-vault merge driver
	driver = /usr/local/bin/ansible-vault-merge -- %O %A %B %P
