# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="pwd;exit:date:* --help"

export PATH="/opt/local/bin:/opt/local/sbin:/Users/oli/Code/local/bin:/usr/local/bin:$PATH"
